<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @sale_collection.sale %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @sale_collection.collection_id %>
</p>

<%= link_to 'Edit', edit_sale_collection_path(@sale_collection) %> |
<%= link_to 'Back', sale_collections_path %>
