<%= form_with(model: sale_product, local: true) do |form| %>
  <% if sale_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale_product.errors.count, "error") %> prohibited this sale_product from being saved:</h2>

      <ul>
      <% sale_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :sale_id, value: @sale.id %>

  <div class="field">
    <%= form.label :select_product %>
    <%= form.select :product_id, options_from_collection_for_select(ShopifyAPI::Product.find(:all, :params => {:limit => 250, fields: "id,title"}), "id", "title"), prompt: "Select products" %>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit "Add product" %>
  </div>
<% end %>
<br/>