<p id="notice"><%= notice %></p>

<h1>Sale Products</h1>

<table>
  <thead>
    <tr>
      <th>Sale</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sale_products.each do |sale_product| %>
      <tr>
        <td><%= sale_product.sale %></td>
        <td><%= sale_product.product_id %></td>
        <td><%= link_to 'Show', sale_product %></td>
        <td><%= link_to 'Edit', edit_sale_product_path(sale_product) %></td>
        <td><%= link_to 'Destroy', sale_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale Product', new_sale_product_path %>
