<article>
  <%= form_with(model: sale, local: true) do |form| %>
    <% if sale.errors.any? %>
      <div class="alert error" id="error_explanation">
        <dl>
          <dt><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</dt>
          <dd>
            <ul>
            <% sale.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </dd>
        </dl>
      </div>
    <% end %>

    <section>
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Settings</h3>
          <p>Set a name for your sale to identify it and select whether the sale is based on percentage or a fixed amount off. You can also schedule a sale for a specific time period.</p>
        </div>
        <div class="row">
          <div class="card">
            <div class="column one-half">
              <p><b>Sale title</b></p>
              <%= form.text_field :title %>
              <br>
              <p><b>Sale type</b></p>
              <div class="row side-elements">
                <label><%= form.radio_button :sale_type, "Percentage", onClick: "document.getElementById('amount_suffix').innerHTML = '%'"%> Percentage</label>
                <label><%= form.radio_button :sale_type, "Fixed Amount Off", onClick: "document.getElementById('amount_suffix').innerHTML = '#{@currency}';" %> Fixed Amount Off</label>
              </div>
              <p><b>Amount</b></p>
              <div class="input-group">
                <%= form.number_field :amount %>
                <span class="append" id="amount_suffix">%</span>
              </div>
            </div>
            <div class="column one-half">
              <p>Schedule your sale?</p>
              <div class="row side-elements">
                <label><%= form.radio_button :scheduled, "false", onClick: "document.getElementById('schedule').style.display='none';" %> No</label>
                <label><%= form.radio_button :scheduled, "true", onClick: "document.getElementById('schedule').style.display='block';" %> Yes</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="schedule" style="display: none;">
      <aside>
        <h3>Sale Schedule</h3>
        <p>Enable or disable the scheduler. This will start and end the sale at given time.</p>
      </aside>
      <article>
        <div class="alert notice">
          <dl>
            <dt>Notice Alert</dt>
            <dd id="tz" >Time is in</dd>
          </dl>
        </div>
        <div class="card">
          <h5>Schedule</h5>
          <div class="row side-elements">
            <%= form.label :start_time %>
            <div class='input-group date' id='datetimepicker1'>
              <%= form.text_field :start_date %>
              <span class="input-group-addon" style="padding: 0.9rem 2.2rem 0.9rem 1.0rem">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
              <%= form.hidden_field :parsed_start_date, value: "" %>
            </div>
          </div>

          <div class="row side-elements">
            <%= form.label :end_time %>
            <div class='input-group date' id='datetimepicker2' style="margin-left: 4.67px">
              <%= form.text_field :end_date %>
              <span class="input-group-addon" style="padding: 0.9rem 2.2rem 0.9rem 1.0rem">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
              <%= form.hidden_field :parsed_end_date, value: "" %>
            </div>
          </div>

        </div>
        <script type="text/javascript">
          $(function () {
            $('#datetimepicker1').datetimepicker({
              <%= raw("date: new Date('"+@sale.start_time.to_s+"'),") if @sale.start_time %>
              minDate: new Date().toISOString()
            });
            $('#datetimepicker2').datetimepicker({
              <%= raw("date: new Date('"+@sale.end_time.to_s+"'),") if @sale.end_time %>
              useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker1").on("dp.change", function (e) {
              document.getElementById("sale_parsed_start_date").value = e.date.format("YYYY-MM-DD[T]HH:mm Z");
              $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
              document.getElementById("sale_parsed_end_date").value = e.date.format("YYYY-MM-DD[T]HH:mm Z");
              $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
          });
        </script>
      </article>
    </section>

    <section id="nodisplay" style="display: none;">
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Target</h3>
          <p>Choose the target of your sale. You can either place the sale on whole store or specific targets.</p>
        </div>
        <div class="row full-width">
          <div class="card colums twelve">
            <p><b>Sale Target</b></p>
            <div class="row side-elements">
              <label><%= form.radio_button :sale_target, 'Whole Store' %> Whole Store</label>
              <label><%= form.radio_button :sale_target, 'Specific collections' %> Specific collections</label>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="categories">
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Choose Categories</h3>
          <p>Choose collections for sale.</p>

        </div>
        <div class="row full-width">
          <div class="card colums twelve">
            <%= form.hidden_field :collections, value: "" %>
            <button type="button" onclick="choose_categories()">Choose Collections</button>
            <br>
            <div id="cate_target"></div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Status</h3>
          <p>Use this field to activate or deactivate sale.</p>
        </div>
        <div class="row full-width">
          <div class="card colums twelve">
            <p><b>Sale Status</b></p>
            <div class="row side-elements">
              <label><%= form.radio_button :status, "Enabled", onClick: "document.getElementById('schedule').style.display='none';" %> Active</label>
              <label><%= form.radio_button :status, "Disabled", onClick: "document.getElementById('schedule').style.display='none';" %> Inactive</label>
            </div>
            <br>
            <p><i>Activation or Deactivation process duration may vary depending on the number of products on your store. Don't worry, the process will be continued in the background once you Activate/Deactivate a sale.</i></p>
          </div>
        </div>
      </div>
    </section>

    <div class="actions" style="margin-left: 1rem;">
      <%= form.submit %>
    </div>
  <% end %>
</article>

<script type="text/javascript">
  var collections = <%= @sale_collections ?  raw(@sale_collections.collections.to_json) : {} %>;

  (function() {
    var tz = new Date().toString().split("(")[1].slice(0,-1);
    document.getElementById("tz").append(" "+ tz);
    document.getElementById("nodisplay").style.display='none';
    if (document.getElementById('sale_sale_type_fixed_amount_off').checked){
      document.getElementById('amount_suffix').innerHTML = '<%= @currency %>';
    }
    if (document.getElementById('sale_sale_target_specific_collections').checked){
      document.getElementById("sale_title").innerHTML="Create a sale for specific collections";
    }
    if (document.getElementById("sale_scheduled_true").checked){
      document.getElementById('schedule').style.display='block';
    }
    if (Object.keys(collections).length > 0){
      gen_table()
    }
  })();

  function gen_table(){
    const target = document.getElementById('cate_target')
    target.innerHTML = ""
    br = document.createElement('br')
    target.appendChild(br)
    table = document.createElement('table')
    table.setAttribute('class', 'table')
    target.appendChild(table)

    th = document.createElement('thead')
    table.appendChild(th)

    thtr = document.createElement('tr')
    text = document.createTextNode('Selected Collections')
    thtrtd = document.createElement('td')
    thtrtd.appendChild(text)
    thtrtd.setAttribute('colspan', '2')
    thtr.appendChild(thtrtd)
    th.appendChild(thtr)

    tb = document.createElement('tbody')
    table.appendChild(tb)

    for (k in collections){
      tr = document.createElement('tr')
      td = document.createElement('td')
      text = document.createTextNode(collections[k])
      td.setAttribute('id', k)
      td.appendChild(text)
      tr.appendChild(td)
      td = document.createElement('td')
      td.innerHTML = '<i class="icon-trash"></i>';
      td.setAttribute('id', k)
      td.setAttribute('onClick', 'unselect_collection(this)')
      tr.appendChild(td)
      tb.appendChild(tr)
    }
  }

  function unselect_collection(e){
    id = e.getAttribute("id")
    e.parentNode.parentNode.removeChild(e.parentNode)
    delete collections[id]
    document.getElementById("sale_collections").value = JSON.stringify(collections)
  }

  function choose_categories(){
    var multipleCollectionOptions = {
      'selectMultiple': true,
    };

    ShopifyApp.Modal.collectionPicker(multipleCollectionOptions, function(success, data) {
      // Callback is triggered any time a button
      // is clicked or the window is closed.

      if(!success) {
        // Success is true when a resource is picked successfully
        return;
      }
      if (data.collections.length > 0) {
        for(i=0; i< data.collections.length; i++){
          collections[String(data.collections[i].id)] = data.collections[i].title
        }
        gen_table()
        document.getElementById("sale_collections").value = JSON.stringify(collections)
      }
      if (data.errors) {
        ShopifyApp.flashError(data.errors);
      }
    });
  }
</script>