<article>
  <%= form_with(model: sale, local: true) do |form| %>
    <% if sale.errors.any? %>
      <div class="alert error" id="error_explanation">
        <dl>
          <dt><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</dt>
          <dd>
            <ul>
            <% sale.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </dd>
        </dl>
      </div>
    <% end %>
    
    <section>
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Settings</h3>
          <p>Set a name for your sale to identify it and select whether the sale is based on percentage or a fixed amount off. You can also schedule a sale for a specific time period.</p>
        </div>
        <div class="row">
          <div class="card">
            <div class="column one-half">
              <p><b>Sale title</b></p>
              <%= form.text_field :title %>
              <br>
              <p><b>Sale type</b></p>
              <div class="row side-elements">
                <label><%= form.radio_button :sale_type, "Percentage", onClick: "document.getElementById('amount_suffix').innerHTML = '%'"%> Percentage</label>
                <label><%= form.radio_button :sale_type, "Fixed Amount Off", onClick: "document.getElementById('amount_suffix').innerHTML = '#{@currency}';" %> Fixed Amount Off</label>
              </div>
              <p><b>Amount</b></p>
              <div class="input-group">
                <%= form.number_field :amount %>
                <span class="append" id="amount_suffix">%</span>
              </div>
            </div>
            <div class="column one-half">
              <p>Schedule your sale?</p>
              <div class="row side-elements">
                <label><%= form.radio_button :scheduled, "false", onClick: "document.getElementById('schedule').style.display='none';" %> No</label>
                <label><%= form.radio_button :scheduled, "true", onClick: "document.getElementById('schedule').style.display='block';" %> Yes</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="schedule" style="display: none;">
      <aside>
        <h3>Sale Schedule</h3>
        <p>Enable or disable the scheduler. This will start and end the sale at given time.</p>
      </aside>
      <article>
        <div class="alert notice">
          <dl>
            <dt>Notice Alert</dt>
            <dd>Timezone is UTC.</dd>
          </dl>
        </div>
        <div class="card">
          <h5>Schedule</h5>
          <div class="row side-elements">
            <%= form.label :start_date %>
            <div class='input-group date' id='datetimepicker1'>
              <%= form.text_field :start_date %>
              <span class="input-group-addon" style="padding: 0.9rem 2.2rem 0.9rem 1.0rem">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="row side-elements">
            <%= form.label :start_time %>
            <div class='input-group date' id='datetimepicker3'>
              <%= form.text_field :start_time %>
              <span class="input-group-addon" style="padding: 0.9rem 2.2rem 0.9rem 1.0rem">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
          <div class="row side-elements">
            <%= form.label :end_date %>
            <div class='input-group date' id='datetimepicker2' style="margin-left: 4.67px">
              <%= form.text_field :end_date %>
              <span class="input-group-addon" style="padding: 0.9rem 2.2rem 0.9rem 1.0rem">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="row side-elements">
            <%= form.label :end_time %>
            <div class='input-group date' id='datetimepicker4' style="margin-left: 4.67px">
              <%= form.text_field :end_time %>
              <span class="input-group-addon" style="padding: 0.9rem 2.2rem 0.9rem 1.0rem">
                  <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          $(function () {
            $('#datetimepicker1').datetimepicker({
              format: 'MM/DD/YYYY',
              minDate: "<%= DateTime.now.utc.strftime('%m/%d/%Y %I:%M %p')%>"
            });
            $('#datetimepicker2').datetimepicker({
              format: 'MM/DD/YYYY',
              useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker1").on("dp.change", function (e) {
              $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
              $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
            $('#datetimepicker3').datetimepicker({
              format: 'LT',
              minDate: "<%= DateTime.now.utc.strftime('%m/%d/%Y %I:%M %p')%>"
            });
            $('#datetimepicker4').datetimepicker({
              format: 'LT',
              useCurrent: false //Important! See issue #1075
            });
            $("#datetimepicker3").on("dp.change", function (e) {
              $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker4").on("dp.change", function (e) {
              $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
            });
          });
        </script>
      </article>
    </section>

    <section id="nodisplay" style="display: none;">
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Target</h3>
          <p>Choose the target of your sale. You can either place the sale on whole store or specific targets.</p>
        </div>
        <div class="row full-width">
          <div class="card colums twelve">
            <p><b>Sale Target</b></p>
            <div class="row side-elements">
              <label><%= form.radio_button :sale_target, 'Whole Store', onClick: 'document.getElementById("submit").value = ' + (sale.id.nil? ? '"Create sale"' : '"Update sale"') %> Whole Store</label>
              <label><%= form.radio_button :sale_target, 'Specific collections', onClick: 'document.getElementById("submit").value = "Choose Collections";' %> Specific collections</label>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="whole_store" style="display: none;">
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Status</h3>
          <p>Use this field to activate or deactivate sale.</p>
        </div>
        <div class="row full-width">
          <div class="card colums twelve">
            <p><b>Sale Status</b></p>
            <div class="row side-elements">
              <label><%= form.radio_button :status, "Enabled", onClick: "document.getElementById('schedule').style.display='none';" %> Active</label>
              <label><%= form.radio_button :status, "Disabled", onClick: "document.getElementById('schedule').style.display='none';" %> Inactive</label>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="actions">
      <%= form.submit "Save sale", id: 'submit'%>
    </div>
  <% end %>
</article>

<script type="text/javascript">
  (function() {
    document.getElementById("nodisplay").style.display='none';
    if (document.getElementById('sale_sale_type_fixed_amount_off').checked){
      document.getElementById('amount_suffix').innerHTML = '<%= @currency %>';
    }
    if (document.getElementById('sale_sale_target_specific_collections').checked){
      document.getElementById("submit").value = 'Choose Collections';
      document.getElementById("whole_store").style.display='none';
      document.getElementById("sale_title").innerHTML="Create a sale for specific collections";
    }
    if (document.getElementById('sale_sale_target_whole_store').checked){
      document.getElementById("whole_store").style.display = 'block';
    }
    if (document.getElementById("sale_scheduled_true").checked){
      document.getElementById('schedule').style.display='block';
    }
  })();
</script>