<article>
  <%= form_with(model: sale, local: true) do |form| %>
    <% if sale.errors.any? %>
      <div class="alert error" id="error_explanation">
        <dl>
          <dt><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</dt>
          <dd>
            <ul>
            <% sale.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </dd>
        </dl>
      </div>
    <% end %>
    
    <section>
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Settings</h3>
          <p>Set a name for your sale to identify it and select whether the sale is based on percentage or a fixed amount off. You can also schedule a sale for a specific time period.</p>
        </div>
        <div class="row">
          <div class="card">
            <div class="column one-half">
              <p><b>Sale title</b></p>
              <%= form.text_field :title %>
              <br>
              <p><b>Sale type</b></p>
              <div class="row side-elements">
                <label><%= form.radio_button :sale_type, "Percentage", onClick: "document.getElementById('amount_suffix').innerHTML = '%'"%> Percentage</label>
                <label><%= form.radio_button :sale_type, "Fixed Amount Off", onClick: "document.getElementById('amount_suffix').innerHTML = '#{@currency}';" %> Fixed Amount Off</label>
              </div>
              <p><b>Amount</b></p>
              <div class="input-group">
                <%= form.number_field :amount %>
                <span class="append" id="amount_suffix">%</span>
              </div>
            </div>
            <div class="column one-half">
              <p>Schedule your sale?</p>
              <div class="row side-elements">
                <label><%= form.radio_button :scheduled, "false", onClick: "document.getElementById('schedule').style.display='none';" %> No</label>
                <label><%= form.radio_button :scheduled, "true", onClick: "document.getElementById('schedule').style.display='block';" %> Yes</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="schedule" style="display: none;">
      <aside>
        <h3>Sale Schedule</h3>
        <p>Enable or disable the scheduler. This will start and end the sale at given time.</p>
      </aside>
      <article>
        <div class="alert notice">
          <dl>
            <dt>Notice Alert</dt>
            <dd>Timezone is UTC.</dd>
          </dl>
        </div>
        <div class="card">
          <h5>Schedule</h5>
          <div class="row side-elements">
            <%= form.label :start_time %>
            <%= form.datetime_select :start_time, min: DateTime.now %>
          </div>
          <div class="row side-elements">
            <%= form.label :end_time %>
            <%= form.datetime_select :end_time, min: DateTime.now %>
          </div>
        </div>
      </article>
    </section>

    <section id="nodisplay" style="display: none;">
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Target</h3>
          <p>Choose the target of your sale. You can either place the sale on whole store or specific targets.</p>
        </div>
        <div class="row full-width">
          <div class="card colums twelve">
            <p><b>Sale Target</b></p>
            <div class="row side-elements">
              <label><%= form.radio_button :sale_target, 'Whole Store', onClick: 'document.getElementById("submit").value = ' + (sale.id.nil? ? '"Create sale"' : '"Update sale"') %> Whole Store</label>
              <label><%= form.radio_button :sale_target, 'Specific collections', onClick: 'document.getElementById("submit").value = "Choose Collections";' %> Specific collections</label>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="whole_store" style="display: none;">
      <div class="column twelve">
        <div class="row" style="padding: 0px 10px;">
          <h3>Sale Status</h3>
          <p>Use this field to activate or deactivate sale.</p>
        </div>
        <div class="row full-width">
          <div class="card colums twelve">
            <p><b>Sale Status</b></p>
            <div class="row side-elements">
              <label><%= form.radio_button :status, "Enabled", onClick: "document.getElementById('schedule').style.display='none';" %> Active</label>
              <label><%= form.radio_button :status, "Disabled", onClick: "document.getElementById('schedule').style.display='none';" %> Inactive</label>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--
    <section>
      <aside>
        <h2>Sale Status</h2>
        <p>Enable or disable the sale on your shop. The sale will be activated when you save the changes. If you want to apply sale on specific collections or products, check Deactivate for now and Activate it after you have added the collections or products to your sale.</p>
      </aside>
      <article>
        <div class="card">
          <h5>Status</h5>
          <label><%= form.radio_button :status, "Enabled", onClick: "document.getElementById('schedule').style.display='none';" %> Activate</label>
          <label><%= form.radio_button :status, "Disabled", onClick: "document.getElementById('schedule').style.display='none';" %> Deactivate</label>
          <label><%= form.radio_button :status, "Scheduled", onClick: "document.getElementById('schedule').style.display='block';" %> Schedule</label>
        </div>
      </article>
    </section>

    <section id="schedule" style="display: none;">
      <aside>
        <h2>Sale Schedule</h2>
        <p>Enable or disable the scheduler. This will start and end the sale at given time. Only activated sales which are scheduled will start. Sales that are deactivated will not start on schedule.</p>
      </aside>
      <article>
        <div class="alert notice">
          <dl>
            <dt>Notice Alert</dt>
            <dd>Timezone is UTC.</dd>
          </dl>
        </div>
        <div class="card">
          <h5>Schedule</h5>
          <div class="row side-elements">
            <%= form.label :start_time %>
            <%= form.datetime_select :start_time, min: DateTime.now %>
          </div>
          <div class="row side-elements">
            <%= form.label :end_time %>
            <%= form.datetime_select :end_time, min: DateTime.now %>
          </div>
        </div>
      </article>
    </section>

    <section>
      <aside>
        <h2>Sale Settings</h2>
        <p>Specify the settings of the sale. You can select wether the sale is a percentage discount or a fixed amount off.</p>
      </aside>
      <article>
        <div class="card">
          <h5>Settings</h5>
          <p>Sale title</p>
          <%= form.text_field :title %>
          <br/>
          <div class="row side-elements">
            <label><%= form.radio_button :sale_type, "Percentage" %> Percentage</label>
            <label><%= form.radio_button :sale_type, "Fixed Amount Off" %> Fixed Amount Off</label>
          </div>
          <div class="field">
            <%= form.label :amount %>
            <%= form.number_field :amount %>
          </div>
        </div>
      </article>
    </section>

    <section>
      <aside>
        <h2>Sale target settings</h2>
        <p>Select to apply to products in a collection or to whole store. You can also choose to manually select which products are in the sale.</p>
      </aside>
      <article>
        <div class="card">
          <h5>Behaviour</h5>
          <p>Sale target</p>
          <div class="row side-elements">
            <label><%= form.radio_button :sale_target, 'Whole Store', :checked => true %> Whole Store</label>
            <label><%= form.radio_button :sale_target, 'Specific collections' %> Specific collections</label>
            <label><%= form.radio_button :sale_target, 'Specific products' %> Specific products</label>
          </div>
          <em>You can add collections or products once the sale is created.</em>
        </div>
      </article>
    </section>
    -->
    <div class="actions">
      <%= form.submit nil, id: 'submit'%>
    </div>
  <% end %>
</article>

<script type="text/javascript">
  (function() {
    document.getElementById("nodisplay").style.display='none';
    if (document.getElementById('sale_sale_type_fixed_amount_off').checked){
      document.getElementById('amount_suffix').innerHTML = '<%= @currency %>';
    }
    if (document.getElementById('sale_sale_target_specific_collections').checked){
      document.getElementById("submit").value = 'Choose Collections';
      document.getElementById("whole_store").style.display='none';
    }
    if (document.getElementById('sale_sale_target_whole_store').checked){
      document.getElementById("whole_store").style.display = 'block';
    }
    if (document.getElementById("sale_scheduled_true").checked){
      document.getElementById('schedule').style.display='block';
    }
  })();
</script>