<br/>

<section>
  <article>
    <div class="card">
      <div class="row align-center">
        <%= link_to 'New Sale on whole store', new_sale_path(whole_store: true), class: 'button', style: 'padding: 10px 20px; font-weight: bold; margin-bottom: 1rem;' %>
        <%= link_to 'New Sale on specific collections', new_sale_path, class: 'button', style: 'padding: 10px 20px; font-weight: bold; margin-bottom: 1rem;' %>
      </div>
      <div class="row">
        <h2 class="align-left" style="margin-bottom: 0px;">ExpressSales Dashboard</h2>
      </div>
      <div class="row" style="text-align: center; overflow-x:auto;">
        <% if !@sales.empty? %>
          <%= form_tag medit_sales_path, :method => :put do %>
            <table>
              <thead>
                <tr style="background-color: #014A81; color: white;">
                  <th colspan="1"></th>
                  <th>Title</th>
                  <th>Target</th>
                  <th>Amount</th>
                  <th>Type</th>
                  <th>Start time</th>
                  <th>End time</th>
                  <th>Status</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @sales.each do |sale| %>
                  <tr>
                    <td><%= check_box_tag "sale_ids[]", sale.id %></td>
                    <td><%= sale.title %></td>
                    <td><%= sale.sale_target %></td>
                    <td><%= sale.amount.to_s + " " + (sale.Percentage? ? "%" : @shop.currency) %></td>
                    <td><%= sale.sale_type %></td>
                    <td><%= sale.start_time ? sale.start_time : "-" %></td>
                    <td><%= sale.end_time ? sale.end_time : "-"  %></td>
                    <td><span class="tag <%= ['green', 'orange', 'grey pending', 'grey pending'][Sale.statuses[sale.status]] %>"><%= sale.status %></span></td>
                    <td><%= link_to sale do %><i class="icon-preview"></i><% end %></td>
                    <td><% if sale.Disabled? %>
                          <%= link_to edit_sale_path(sale) do %><i class="icon-edit"></i><% end %></td>
                          <td><%= link_to sale, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="icon-trash"></i><% end %>
                        <% else %>
                          </td><td>
                        <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>
            <div class="row">
              <span class="button-group">
                <%= submit_tag "Activate" %>
                <%= submit_tag "Deactivate", class: "secondary" %>
                <%= submit_tag "Delete", class: "warning" %>
              </span>
            </div>
          <% end %>
        <% else %>
          <br/>
          <p>
            As you have installed the app on your store, you can now set a discount with a few clicks. Just select "New Sale on whole store" or "New Sale on specific collection" to get started. You can see your sale status on this Dashboard once you create it.
            <br/>You can always check the FAQ section if your unsure about anything.
            <br/>Contact us if you need any assistance or send an e-mail to: support@marbgroup.com.
          </p>
        <% end %>
      </div>
    </div>
  </article>
  <br>

</section>