<br/>
<% if @sale.Disabled? %>
  <%= link_to 'Update sale', edit_sale_path(@sale) %> |
<% end %>
<%= link_to 'All sales', sales_path %>
<br/>
<section>
  <article>
    <div class="card">
      <p>
        <strong>Status:</strong>
        <%= @sale.status %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @sale.title %>
      </p>

      <p>
        <strong>Amount:</strong>
        <%= @sale.amount %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @sale.sale_type %>
      </p>

      <% if @sale.Scheduled? %>
        <p>
          <strong>Start time:</strong>
          <%= @sale.start_time %>
        </p>

        <p>
          <strong>End time:</strong>
          <%= @sale.end_time %>
        </p>
      <% end %>

      <p>
        <strong>Target:</strong>
        <%= @sale.sale_target %>
      </p>

      <% if @sale.sale_target == "Specific collections" %>
        <% if !@sale_collections.empty? %>
          <table>
            <thead>
              <tr>
                <th>Collections</th>
              </tr>
            </thead>

            <tbody>
              <% @sale_collections.each do |sale_collection| %>
                <tr>
                  <td><%= sale_collection.collection_title %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        <% end %>
      <% end %>

    </div>
  </article>
</section>