<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <% application_name = ShopifyApp.configuration.application_name %>
    <title><%= application_name %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style type="text/css">body {background-image: url("background.png");</style>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main" id="main_app">
          <%= yield %>
        </main>
      </div>
    </div>

    <%= render 'layouts/flash_messages' %>

    <script src="https://cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>

    <script type="text/javascript">
      ShopifyApp.init({
        apiKey: "<%= ShopifyApp.configuration.api_key %>",
        shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
        debug: <%= Rails.env.development? ? 'true' : 'false' %>,
        forceRedirect: true
      });
    </script>

    <% if content_for?(:javascript) %>
      <div id="ContentForJavascript" data-turbolinks-temporary>
        <%= yield :javascript %>
      </div>
    <% end %>
    <hr>
    <div class="container" style="text-align: center">
      <p>Have an issue? Or even a question?</p>
      <a onclick="$('#faq').toggle('slow')" class='button' >F.A.Q.</a>
      <div id="faq" style="display: none">
        <br/>
        <section>
          <article>
            <div class="card">

<br/>
<b>Q) How do I install the application?</b>
<br/>
A) You only need to install it using the Shopify store and give the permissions required by the application to it. There is nothing else to configure to use the application. After installation you can create sales.
<br/><br/>
<hr/>
<br/>
<b>Q) How to create a sale?</b>
<br/>
A) Just follow the simple steps given
<br/>1) From your main dashboard click the "New Sale on whole store" or "New Sale on collections" button.
<br/>2) Fill out the form options provided and check the activate radio button if you want it activate it right away or deactivate if you plan to activate it later on and just fill in the details of the sale. It is recommended that you have a latest backup CSV file of your products when using the application, in case something goes terribly wrong.
<br/><br/>
<hr/>
<br/>
<b>Q) What is the minimum information do I need to put to create a sale?</b>
<br/>
A) You have to add at least a title, choose whether it is a percentage based or fixed amount-based sale and fill out the amount of that sale, also decide if you want to activate the sale right now or save it for later. In case of collections you should also choose which collections, you want to put the sale on.
<br/><br/>
<hr/>
<br/>
<b>Q) What will happen to a product in multiple collections when putting those products on sale?</b>
<br/>
A) A sale will put the product “on sale” only once, even if that product is present in the multiple collections that you have chosen.
<br/><br/>
<hr/>
<br/>
<b>Q) How can I make changes to a sale?</b>
<br/>
A) You can only make changes such as change in amount or title or amount or schedule or collection of a sale when it is being created or if it is deactivated. You cannot make changes to a sale that is currently running, you have to deactivate the sale first. Also, you cannot make any changes or deactivate a sale while it is activating or deactivating, because those processes cannot be stopped once started. You have to wait for the activation/deactivation process to finish before you can change anything about a sale.
<br/><br/>
<hr/>
<br/>
<b>Q) How can I delete a sale?</b>
<br/>
A) You can only delete sales that are currently disabled or inactive.
<br/><br/>
<hr/>
<br/>
<b>Q) What if I want to add sale on specific products?</b>
<br/>
A) If you wish to add sale on specific products you can either manually add it from the Shopify admin panel or add them to a collection and then put that collection on sale.
<br/><br/>
<hr/>
<br/>
<b>Q) What if I want multiple sales?</b>
<br/>
A) It is recommended to use a single sale where possible. If not, in case of multiple sales on the same products- at first, you should inactive the sale you last activated. Because, when you deactivate a sale, the prices revert to their previous prices (actual store price), which were there when the sale was activated on the first place.
<br/><br/>
<hr/>
<br/>
<b>Q) What if I accidentally deactivate a sale out of order in case of Multiple Sales? </b>
<br/>
A) For example, if, one had two sales overlapping on the products and deactivated the first sale that was placed before the last one. The result will be, like, the prices of those respective products will change to the previous price of those products before applying the first sale (which you now deactivated). In this case please DO NOT deactivate the second sale. Submit a ticket from within the application or send us an email so we can remove the records or assist you as per your requirement.
<br/><br/>
<hr/>
<br/>
<b>Q) I added new products after activating the sale what will happen to them?</b>
<br/>
A) Products added after the activation procedure is completed will not be put on that sale. Also, it is recommended to not to add the products during the activation process as they might get skipped.
<br/><br/>
<hr/>
<br/>
<b>Q) What should I do if I face an issue or have a question not in this F.A.Q.?</b>
<br/>
A) Please submit a ticket from inside the application or send us an email at support@marbgroup.com, we will assist you as soon as possible. Your concerns are our number one priority.
<br/><br/>
<hr/>
<br/>
<b>Q) How can I request a feature or report a bug in the application?</b>
<br/>
A) If you find anything that can make your experience with the application better, please let us know by submitting a ticket or sending us an email at support@marbgroup.com. We are here to make your lives easier and only your suggestions can make us grow further.
<br/><br/>
<hr/>
<br/>
<b>Q) What if I want to uninstall the app?</b>
<br/>
A) If you have any sales active in your store and you want to uninstall the application, make sure you have deactivated them before uninstalling the app. If not, the discounted price will be still there. And as you already know, editing the product prices in bulk is a painful job and that’s one of the reasons you are using the app, right?
<br/>
</div>
</article>
</section>
      </div>
      <a onclick="document.getElementById('ticket').style.display='block'" class='button' >Submit a ticket</a>
      <div id="ticket" style="display: none">
        <%= render "tickets/form", ticket: Ticket.new %>
      </div>
    </div>
    <br/><br/><br/>
  </body>
</html>
